---
layout: page
title: Tags
permalink: /tags/
---

{% assign all_tags = site.tags | sort %}

<ul class="line-list">
  {% for tag in all_tags %}
    <li>
      <span class="meta-date">#{{ tag[0] | slugify }}</span>
      <a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
      <span class="meta-tail">{{ tag[1].size }} post{% if tag[1].size != 1 %}s{% endif %}</span>
    </li>
  {% endfor %}
</ul>

{% for tag in all_tags %}
<section class="year-group" id="{{ tag[0] | slugify }}">
  <h2>{{ tag[0] }}</h2>
  <ul class="line-list">
    {% for post in tag[1] %}
      <li>
        <span class="meta-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="meta-tail"></span>
      </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
